{% extends "app/layout.html" %}

{% block content %}

<div class="row">
    <div class="col-md-12">
        <br/>
        <div class="panel panel-primary">
            <div class="panel-heading">List of files</div>  
            <div class="list-group">
                {% for file in files %}
                <a href="/show-data/{{file.id}}/" class="list-group-item disabled">
                    {{file.title}}
                </a>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock %}
