{% extends "app/layout.html" %}

{% block content %}

<div class="row">
    <div class="col-md-12">
        <br/>
        <div class="panel panel-primary">
            <div class="panel-heading">List of files</div>  
            <ul class="list-group">
                {% for file in files %}
                <li class="list-group-item">
                <a href="/show-data/{{file.id}}/" class="disabled">
                    {{file.title}}
                </a>
                <a href="/show-db-data/{{file.id}}/" class="btn-primary pull-right">Show data from db</a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>

{% endblock %}
