{% extends "app/layout.html" %}

{% block content %}

<div class="row">
    <div class="col-md-12">
        <br/>
        <div class="panel panel-primary">
            <div class="panel-heading">{{file.title}}</div>  
            <div class="panel-body" id="csv_data">
                <input id="file_url" value="/{{file.file.url}}" hidden="hidden"/>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        csv2tabular($('#file_url').val());
    });
</script>

{% endblock %}
